*, 
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/****** ELEMENTS COMMUNS ******/

.max-width{
    display:flex;
    max-width: 75rem;
	width: 100%;
	margin: 0 auto 0 auto;
}

h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
}


body{
    font-family: 'Poppins', sans-serif;
}

/******HEADER******/

.header{
    width : 100%;
    height : 100%;
    margin : auto;
    background : black url(../img/code-g4667ae45a_1920.jpg) no-repeat 20% 100%;
    background-attachment: fixed;
    background-size : cover;
}

.header-uper{
  width : 100%;
  height : 100%;
  margin : auto;
  background : black url(../img/background-upper.jpg) no-repeat 20% 100%;
  background-attachment: fixed;
  background-size : cover;
}

.header-pepper{
  width : 100%;
  height : 100%;
  margin : auto;
  background : black url(../img/background-pepper.png) no-repeat 20% 100%;
  background-attachment: fixed;
  background-size : cover;
}

.header-nahowi{
  width : 100%;
  height : 100%;
  margin : auto;
  background : black url(../img/background-nahowi.jpg) no-repeat 20% 100%;
  background-attachment: fixed;
  background-size : cover;
}

.header-bain{
  width : 100%;
  height : 100%;
  margin : auto;
  background : black url(../img/background-bain.jpg) no-repeat 20% 100%;
  background-attachment: fixed;
  background-size : cover;
}

.subtitle{
    text-align: center;
    font-size: 20px;
    margin-top: 1rem;
    padding-bottom: 25rem;
    color: white;
    font-weight: 700;
}

.header-background{
    background-color: rgba(0, 0, 0, 0.75) 
}

/****** MENU ******/

.menu{
    display:flex;
    flex-wrap: wrap;
    max-width: 75rem;
	width: 100%;
	margin: 0 auto 1rem auto;
}

.menu-include{
    display:flex;
    flex-wrap: wrap;
    max-width: 75rem;
	width: 100%;
	margin: 0 auto 1rem auto;
    background-color: black;
}

.logo{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.menu-header{
    flex-basis: 100%;
}

.elements-menu{
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.details-link{
    text-transform: uppercase;
    margin-right: 2.5rem;
    margin-top: 2rem;
    font-size: 21px;
}

.details-link a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.details-link a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

/*************** SECTION PAGE ACCUEIL ***************/

.section-menu{
    margin: 5rem auto 15rem auto;
}

.section{
    flex-basis: 33.3%;
    margin-right: 2rem;
    margin-left: 2rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: white;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

.title-section-menu{
    padding: 8rem 0 8rem 0;
    text-align: center;
}


.title-section-menu a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 800;

}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box:hover,
.box:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

.title-section-menu a:hover{
    color:white;
    text-decoration: underline;
}

.title-lancement{
  color: black;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
  font-size: 40px;
}

.text-rapport-lancement{
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: justify;
    padding: 3rem 5rem 10rem 5rem;
    margin-top: 4rem;
    font-size: 18px;

}

.link-para{
    color: #F7230C;
    text-decoration: none;
    font-style:italic;
    font-weight: 600;
}

.link-para:hover{
    color: black;
    text-decoration: underline;
    font-style: none;
}

.footer{
    background-color:#120D16 ;
}

.para-footer{
    padding: 5rem 2rem 5rem 2rem;
    display: flex !important;
    flex-direction: column !important;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.text-footer{
    color: white;
    text-align: center;
}

.t1{
    font-size: 35px;
    margin-bottom: 1rem;
    text-decoration: underline;
}

/****************** RAPPORT FINAL ****************/ 

.landing {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: -webkit-linear-gradient(top, #00060c, #032a54);
    text-align: center;
    -webkit-animation: fadein 1s;
  }
  .landing h1,
  h3,
  h2 {
    color: white;
    margin-top: 30px;
  }
  h1 {
    -webkit-animation: fadein 5s;
  }
  h2 {
    -webkit-animation: fadein 5s;
  }
  h3 {
    -webkit-animation: fadein 5s;
  }
  
  
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes shake {
    0% {
      transform: skewX(-15deg);
    }
    5% {
      transform: skewX(15deg);
    }
    10% {
      transform: skewX(-15deg);
    }
    15% {
      transform: skewX(15deg);
    }
    20% {
      transform: skewX(0deg);
    }
    100% {
      transform: skewX(0deg);
    }
  }
  
.title-presentation{
    font-size: 70px;
    color: white;
    text-align: center;
    padding: 1rem 0.5rem 1rem .5rem;
    margin-bottom: 7rem;
}

.background-title{
    animation: changeBackgroundColor 7s infinite;
    max-width: 650px;
    margin: 2rem auto 2rem auto;
    border-radius: 15px;
}

@keyframes changeBackgroundColor {
    0% {
      background-color: #a166ab;
    }
    50% {
      background-color: #FF4136;
    }
    100% {
      background-color: #032a54;
    }
  }

.text-content{
    font-size: 20px;
    text-align: justify;
    padding: 0 5rem 0 2rem;
    flex-basis: 50%;
}



/********* PORTFOLIO *********/

.port-right, .port-left{
  flex-basis: 48.5%;
}

.port-uper, .port-bain, .port-nahowi, .port-pepper{
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #00060c;
  margin-bottom: 3rem;
}

.port-uper:hover, .port-bain:hover, .port-nahowi:hover, .port-pepper:hover{
  transform: scale(1.05);
}


.title-other-section{
  padding: 7.5rem 0 0 0;
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 50px;
}

.port-bain{
  background-color: #2a3283 !important;
}

.port-nahowi{
  background-color: #4772ffee;
}

.port-pepper{
  background-color: #dc0d13 !important;
}

.more-other{
  text-align: center;
  color: white;
  padding-bottom: 8rem;
  display: block;
  margin-top: 4rem;
  font-size: 25px;
  text-decoration: none;
}

.more-other:hover{
  text-decoration: underline;
}

.logo-port{
  display: block;
  margin: auto auto;
  padding-top: 5rem;
}

/******** UPERNOIR ********/

.screen-uper{
  display: flex;
  flex-wrap: wrap;
}

.img-left {
  flex-basis: 60%;
  margin: 3rem 0;
}

.img-right{
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-left: 5rem;
}

.img-bain{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 45%;
  margin: 5rem auto;
}

.page-port{
  width: 600px;
  height: auto;
}

.css-port{
  width: 300px;
  height: auto;
}

.responsive-uper{
  display: block;
  margin: 3rem auto;
}

.bain-img{
  width: 400px;
  height: auto;
}

.info-img{
  text-align: center;
  font-size: 15px;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.contact-bain{
  display: flex;
  flex-wrap: wrap;
}

.left-contact, .right-contact{
  flex-basis: 25%;
}

/****** NAHOWI *******/

.nahowi-section{
  display: flex;
  flex-wrap: wrap;
}

.text-nahowi{
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-nahowi{
  flex-basis: 30%;
  margin: 0 auto;
}

.maquettes{
  display: flex;
  flex-wrap: wrap;
}

.maquette-left, .maquette-right{
  flex-basis: 50%;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-maquette{
  width: 500px;
  height: auto;
}

.yoga{
  display: block;
  margin: 0rem auto 0 auto;
  width: 900px;
  height: auto;
}

.equipe{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}

.left-img{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}

.img-team{
  width: 400px;
  height: auto;
  display: block;
  margin: 0 auto;
}